*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('../../pics/body_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c-blanco{
    color:white !important;
}
.b-blanco{
    background-color: white !important;
}
.right{
    float: right;
}
.left{
    float:left;
}
.caja-login{
    background-color: white;
    padding: 2rem;
    width: 60%;
    height: 300px;
    margin: auto;
}