*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body{
    height: 100%; 
    font-family: 'Varela Round';
    font-weight: 400;
}
.main{    
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
.content-logo{
    margin-left: 7%;
}
.left-menu{
    margin-left: 80px;
}
.logo{
    width: 90%;
}
.loading{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255, .99);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.menu-mimaguen{
    font-size: 14px;
    margin-right: 7%;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.c-blanco{
    color:white !important;
}
.b-blanco{
    background-color: white !important;
}
.c-azul{
    color: #12487E !important;
}
.b-azul{
    background-color: #12487E !important;
}
.b-azul_hover:hover{
    background-color: #12487E !important;
}
.c-blanco_hover:hover{
    color: #FFFFFF !important;
}
.c-azul-claro{
    color: #66BAE5 !important;
}
.b-azul-claro{
    background-color: #66BAE5 !important;
}
.c-gris{
    color: #787878 !important;
}
c-azul-cielo{
    color: #00C2EE !important;
}
b-azul-cielo{
    background-color: #00C2EE !important;
}
.b-gris{
    background-color: #787878 !important;
}
.right{
    float: right;
}
.left{
    float:left;
}
.borde_superior_amarillo{
    border-top: 2px solid #FFC000;
    padding: 0px 0px;
}
.borde_superior_blanco{
    border-top: 1px solid #FFFFFF;
    padding: 0px 0px;
}
.caja-login{
    background-color: white;
    padding: 2rem;
    width: 60%;
    height: 400px;
    margin: 60px auto;
}
.logo-login{
    width: 30%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
.d-none{
    display: none;
}
.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.border-azul{
    border: 1px solid #12487E;
}
.border-radius-none{
    border-radius: 0px;
}
/*override de clases del framework css*/
/*date picker de materialize*/
.picker__date-display{
    background-color: #12487E !important;
}
.picker__day--selected{
    background-color: #12487E !important;
}
.picker__close{
    color: #12487E !important;
}
.picker--focused .picker__day--selected{
    color: #FFFFFF !important;
}
.picker__day.picker__day--today{
    color: red !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: #00C2EE;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(0,0,0,0.38);
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #00C2EE;
    background-color: #00C2EE;
    z-index: 0;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #12487E;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
input[type=number] { -moz-appearance:textfield; }
.ui-timepicker-wrapper{
    width: 28% !important;
    max-height: 350px !important;
}
.ui-timepicker-list li {
    padding: 15px !important;
}

/*border-bottom de los textbox*/

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #00C4F0 !important;
    box-shadow: 0 1px 0 0 #00C4F0 !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #00C4F0;
}
/*indicador del tab*/
.tabs .indicator {
    background-color: #0d47a1;
}
.tabs .tab a {
    color:white;
}
.tabs .tab a:hover {
    color:#e0e0e0;
}
.tabs .tab a.active{
    color:white;
    background-color: #2962ff;
}
.alinear-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 280px) and (max-width:960px){
    .caja-login{
        width:90%;
    }
    .content-logo{
        margin-left: 0px;
    }
    .logo{
        width:100%;
        margin-left: 0;
    }
    .logo-login{
        width:90%;
    }
    .ui-timepicker-wrapper{
        width: 80% !important;
    }
    .alinear-flex-center{
        display: inline-block;
    }
}